.controls {
  text-align: center;
  padding: 5px;
}

.playButton {
  font-size: 35px;
  line-height: 42px;
  padding: 5px;
}

.nextButton,
.prevButton {
  font-size: 20px;
}

.randomButton,
.repeatButton {
  font-size: 15px;
  margin-top: 1px;
}
