@import '../../../../App.constants';
@import '../../Browser.constants';

.column {
  display: inline-block;
  margin: 0 40px;
  vertical-align: top;
}

.details {
  cursor: default;
  overflow: hidden;
  border: $tileOffset solid transparent;
  border-top: 0;
  border-right: 0;
  margin-bottom: -$tileOffset;

  &:last-child {
    border-bottom: 0;
  }
}

.disk {
  padding-top: 25px;
}

.header {
  padding: 15px 0 0 18px;

  h2,
  h4 {
    display: inline-block;
    margin: 0;
  }

  h4 {
    margin-left: 15px;
    font-weight: normal;
    vertical-align: top;
    margin-top: 6px;
  }
}

.inner {
  padding-bottom: $tileOffset;
  margin-bottom: $tileOffset;
}
