@import '../../../../App.constants';

.artist {
  font-size: 12px;
}

.info {
  line-height: 25px;
  display: flex;
  overflow: hidden;
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: 25ch;
  flex-direction: column;
  justify-content: space-evenly;
  height: 50px;
}

.musicInfo {
  display: flex;
  padding: 20px;
}

.name,
.artist {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  user-select: text;
}

.preview {
  flex: 0 0 50px;
  margin-right: 15px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: 50px;

  &.defaultPreview {
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    background: $secondaryColor;
    color: $textColor;
  }
}
