@import '../../App.constants';
@import './Browser.constants';

.browser {
  overflow-x: hidden;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: $tileOffset;
  }

  &::-webkit-scrollbar-thumb {
    background: $secondaryColor;
  }
}

.line {
  display: flex;

  &:not(:last-child) {
    justify-content: space-between;
  }
}
