.outputControls {
  padding: 20px 5px;
  display: flex;

  > * {
    vertical-align: top;
    flex: 0 0 auto;
  }
}

.volumeBar {
  width: 90px;
  display: inline-block;
  margin: 17px 0 17px auto;
}
