@import '../../App.constants';

.center {
  flex-grow: 1;
  flex-shrink: 0;
}

.controlBar {
  font-size: 14px;
  overflow: hidden;
  color: $textColor;
  display: flex;
  height: 91px;
  box-sizing: border-box;
  background: lighten($backgroundColor, 5%);
  border-top: 1px solid darken($backgroundColor, 5%);
}

.left,
.right {
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: 250px;
}

.right {
  text-align: right;
}
